# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android
android/local.properties
android/.gradle/
android/captures/
android/gradlew
android/gradlew.bat
android/key.properties
*.jks
*.keystore

# ⚠️ IMPORTANT — Never commit this file!
android/app/google-services.json

# iOS
ios/Flutter/.last_build_id
ios/Pods/
ios/.symlinks/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner/GeneratedPluginRegistrant.*

# IDE
.idea/
.vscode/
*.iml

# Misc
*.log
coverage/
